<div class="menu-caption">Linux(mint)</div>
<div class="menu-item">
  <div class="menu-item-link"><i class="fa fa-caret-right "></i><a>xxxx</a></div>
  <div class="menu-item-link"><i class="fa fa-caret-right "></i><a>xxxx</a></div>
</div>
<div class="menu-caption">AngularJS</div>
<div class="menu-item">
  <div class="menu-item-link"><i class="fa fa-caret-right "></i><a>xxxx</a></div>
</div>
<div class="menu-caption">コピペ用テンプレート</div>
<div class="menu-item">
  <div class="menu-item-link"><i class="fa fa-caret-right "></i><a href="https://iamnatsu.github.io/articles/template/html.html">html</a></div>
</div>
